@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import '../../assets/styles.scss';

@media only screen and (max-width: 812px) {
    
    .container {
        grid-area: nav;
        margin: 0;
        padding: 0;
        position: fixed;
        // height: 50px;
        text-decoration: none;
        grid-area: nav;
        bottom: 0;
        height: 100%;
        .name {
            grid-area: nav;
            top: 0;
            // margin: 20px 30px;
            display: flex;
            align-self: flex-start;
            justify-content: center;
            font-size: 28px;
            color: #533C50;
        }
        ul {
            grid-area: main;
            align-items: center;
            display: flex;
            justify-content: center;
            height: 80px;
            width: 100vw;
            margin: 0;
            padding: 0;
            bottom: 0;
            li {
                list-style-type: none;
                margin: 10px;
                padding: 25px;
                font-size: 50px;
                justify-content: space-between;
            }
            :visited {
                color: #533C50;
            }
            :hover {
                color: #FCFFEB;
                transition: color 0.5s ease-in-out;
                cursor: pointer;
            }
        }
        
    }
}

@media all and (min-width: 1240px) {
    .mobNav {
        display: none;
    }
}

