@import '../../assets/styles.scss';

.container {
    display: grid;
    grid-area: about;
}

.AboutBar {
    width: 25vw;
    background-color: #F3EEE9;
    height: 100vh;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: $primary-font;
    img {
        height: 300px;
        width: auto;
        margin: auto;
        padding: 10px;
        margin-left: auto; 
        margin-right: auto;
    }
    
    .name {
        font-weight: bolder;
        font-style: italic;
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    
    .title {
        padding: 0;
        margin: 0;
    }
    
    .bio {
        text-align: left;
        padding: 10px;
        height: auto;
        margin: 10px;
        width: 20vw;
        font-weight: lighter;
        margin-bottom: 2px;
        font-size: 12px;
    }
    
    .email {
        padding: 0;
        margin: 10px;
    }
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    .icon {
        color: black;
    }
    .icon:hover {
        color: white;
    }
    .icon:visited {
        color: black;
    }
}