@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 200px auto 80px;
  grid-template-areas: "nav" "main";
}

@media only screen and (max-width: 812px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 120px;
    display: grid;
    grid-template-areas: "nav" "header" "main" "footer";
  }
}
/* HOW TO USE
@import "../../assets/styles/styles.scss"   into your module.

the first div, which wraps <NavBar> <Timer> <yourComponent> needs to have className={styles.content}
example: MealSelection.jsx -->    <div className={styles.content}> 
                                        <NavBar> <Timer> <WeeklySelection> 
                                  </div>
on your component the first div that wraps whatever you're displaying needs to have className={styles.mainSection}
example: WeeklySelection.jsx ---> <div className={styles.mainSection}> 
                                        <DailySelection> 
                                  </div>

CHECK AboutUs.module.scss FOR REFERENCE IF YOU'RE NOT SURE!
 */
.container {
  grid-area: main;
  margin-left: 400px;
  padding: 10px;
  width: 100vw;
}

.HomeNav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.HomeNav .content {
  display: flex;
  flex-direction: row;
}
.HomeNav .Projects {
  background-color: #F3EEE9;
  height: 40vh;
  width: 50vw;
  margin: 20px;
}
.HomeNav .Projects .projPic {
  width: 300px;
  height: auto;
  padding: 20px;
}
.HomeNav .Experience {
  background-color: #F3EEE9;
  height: 40vh;
  width: 50vw;
  margin: 20px;
}
.HomeNav .Experience .expPic {
  width: 300px;
  height: auto;
  padding: 20px;
}