  .container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25vw 5vw 70vw;
    grid-template-areas: 
      'about' 'nav' 'main';                                        
  }

    
  // }

  // BOTTOM GRADIENT COLOR: #EDBEC8
  
  // @media only screen and (max-width: 576px) {
  //     body {
  //       background-image: none;
  //     }
  //     .content {
  //       grid-template-columns: 1fr;
  //       grid-template-rows: 60px 1fr 28px;
        
  //     }
  
  //     .mainSection {
  //       grid-column-start: 1;
  //       grid-column-end: 2;
  //       grid-row-start: 1;
  //       grid-row-end: 3;
  //       overflow: scroll;
  //       //width: 100vw;
  //     }
  //   }
  
    /* HOW TO USE
@import "../../assets/styles/styles.scss"   into your module.

the first div, which wraps <NavBar> <Timer> <yourComponent> needs to have className={styles.content}
example: MealSelection.jsx -->    <div className={styles.content}> 
                                        <NavBar> <Timer> <WeeklySelection> 
                                  </div>
on your component the first div that wraps whatever you're displaying needs to have className={styles.mainSection}
example: WeeklySelection.jsx ---> <div className={styles.mainSection}> 
                                        <DailySelection> 
                                  </div>

CHECK AboutUs.module.scss FOR REFERENCE IF YOU'RE NOT SURE!
 */
