@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// $primary-font: 'Roboto', sans-serif;
$primary-font: 'DM Sans', sans-serif;
$font-color: #533C50;

$font-heading: 100px; 

// Potential Colors:

$color-1: #F3EEE9;
$color-2: #8BA4B3;
$color-3: #C8B7C9;
$color-4: #0F5257;
$color-5: #0B3142;

html, body {
    font-family: $primary-font;
  }
