@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import '../../assets/styles.scss';

.container {
    grid-area: nav;
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    height: 50px;
    width: 100vw;
    text-decoration: none;
    grid-area: nav;
    .name {
        grid-area: nav;
        margin: 20px 30px;
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
        font-size: 25px;
        color: #533C50;
    }
    .nav {
        grid-area: nav;
        align-items: flex-end;
        display: flex;
        margin: 10px 30px;
        justify-content: flex-end;
        li {
            list-style-type: none;
            font-family: 'Roboto', sans-serif;
            color: #533C50;
            margin: 10px 30px;
            padding: 10px;
        }
        :visited {
            color: #533C50;
        }
        :hover {
            color: #FCFFEB;
            transition: color 0.5s ease-in-out;
            cursor: pointer;
        }
    }
    
}

@media only screen and (max-width: 812px) {

    .nav {
        display: none;
    }
    .navList {
        display: none;
    }
    
    .container {
        // grid-area: footer;
        margin: 0;
        padding: 0;
        position: fixed;
        height: 50px;
        text-decoration: none;
        grid-area: nav;
        bottom: 0;
        // height: 100%;
        .name {
            grid-area: nav;
            top: 0;
            // margin: 20px 30px;
            display: flex;
            align-self: flex-start;
            justify-content: center;
            font-size: 28px;
            color: #533C50;
        }
        .mobNav {
            grid-area: main;
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            height: 120px;
            width: 100vw;
            bottom: 0;
            margin: 0;
            padding: 0;
            background-color: white;
            position: fixed;
            li {
                list-style-type: none;
                margin: 10px;
                padding: 25px;
                font-size: 50px;
                justify-content: space-between;
                width: 100vw;
                
            }
            :visited {
                color: #533C50;
            }
            :hover {
                color: #FCFFEB;
                transition: color 0.5s ease-in-out;
                cursor: pointer;
            }
        }
        
    }
}

@media all and (min-width: 813px) {
    .mobNav {
        display: none;
    }
}



@media only screen and (width: 812px) {
    .nav {
        display: none;
    }
}